<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @customer_status.Description %>
</p>

<%= link_to 'Edit', edit_customer_status_path(@customer_status) %> |
<%= link_to 'Back', customer_statuses_path %>
