<h1><a href="http://localhost:3000/pages/customersPage"class="btn-floating btn-large waves-effect waves-light green">
  <i class="material-icons">arrow_back</i></a> Editing Customer</h1>

<%= render 'form', customer: @customer %>

<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>
