<div class="panel panel-body" style="padding:0px;padding-left:10px;">
  <%= pie_chart Product.mostpopprod, library: {legend: {position: "right"}},
                colors:["#4d9de0","#e15554","#e1bc29","#3bb273","#7768ae"],
                height:"300px",width:"540px",donut:true,download:true %>
</div>
<div>
  <%= column_chart Reservation.countweeks %>

  <%= column_chart Employee.group(:employeetypeid).count %>

</div>