// orange theme sample
$brand-primary: #EA232D;
$brand-info: #4b4b4b;
$link-color: #800;
$nav-pills-active-link-hover-bg: #EA232D;
$btn-primary-bg: #EA232D;
$btn-primary-border: #da0;
$btn-info-bg: #fa4;
$btn-info-border: #7f7e7e;
$fg-nav-tabs-active: #fb1;