<h1><a href="http://localhost:3000"class="btn-floating btn-large waves-effect waves-light red">
  <i class="material-icons">arrow_back</i></a> New Reservation</h1>

<%= render 'form', reservation: @reservation %>

