<p id="notice"><%= notice %></p>

<p>
  <strong>Emptypename:</strong>
  <%= @employee_type.EmpTypeName %>
</p>

<%= link_to 'Edit', edit_employee_type_path(@employee_type) %> |
<%= link_to 'Back', employee_types_path %>
