<h1><a href="http://localhost:3000/materials"class="btn-floating btn-large waves-effect waves-light blue">
  <i class="material-icons">arrow_back</i></a> New Material</h1>

<%= render 'form', material: @material %>

