<h1><a href="http://localhost:3000/pages/productsPage"class="btn-floating btn-large waves-effect waves-light orange">
  <i class="material-icons">arrow_back</i></a> New Product</h1>

<%= render 'form', product: @product %>

